@import 'tailwindcss/base';
@import 'tailwindcss/components';

@import "base.pcss";
@import "navigation.pcss";
@import "search.pcss";
@import "documentation.pcss";

/*
Code syntax highlighting,
powered by https://highlightjs.org
 */
/*noinspection CssUnknownTarget*/
@import 'highlight.js/styles/a11y-light.css';

@import 'tailwindcss/utilities';
@import 'tailwindcss/screens';
